body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #95375b;
    margin: 0;
    padding: 0;
}

#game-container {
    margin: 50px auto;
    padding: 20px;
    width: 80%;
    max-width: 400px;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #dab1d2;
    box-shadow: 0 0 10px rgba(237, 232, 232, 0.97);
}

h1 {
    color: #f6f5f5;
}

#word-display {
    font-size: 24px;
    margin-bottom: 20px;
    letter-spacing: 10px;
}

input, button {
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
}

button {
    cursor: pointer;
}

#reset-button {
    margin-top: 20px;
    background-color: #af0d01;
    color: white;
    border: none;
    border-radius: 5px;
}

#submit-button {
    background-color: #4caf50;
    color: rgb(242, 235, 235);
    border: none;
    border-radius: 5px;
}