p.centered {
    font-style: normal;
    color:black;
    font-weight: bold;
    text-indent: 3mm;
    text-align: center;
  }

  .center-img img {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  }
  
  .center-img {
    text-align: center;
  }
  
  ol {
    border: thick solid purple;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 4ex;
    width: 50%;
    background-color: aquamarine;
  }