body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color:#95375b;
  color: #070000;
  line-height: 1.6;
}


p.centered {
    font-style: normal;
    color:rgb(255, 251, 251);
    font-size: 22pt;
    font-weight: bold;
    text-indent: 2mm;
    text-align: center;
  }

  .center-img img {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid white;
  padding: 5px;
  background-color: #a5409b;
  box-shadow: 5px 5px 15px rgba(255, 255, 255, 0.699); 
  }
  
  .center-img {
    text-align: center;
  }
  
  h1{
    font-size: 22pt;
    color: black;
    font-family: tahoma, helvetica, sans-serif;
    text-align: center;
  }

  h2     {
    font-size: 22 pt;
    color: rgb(8, 8, 8);
    font-family: tahoma, helvetica, sans-serif;
    text-align: center;
   }

   ol {
    
    border: thick solid rgb(188, 14, 124);
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right:auto;
    padding: 20ex;
    width: 90%;
    background-color: rgb(134, 130, 195);
    padding:20px;
  }

   ul {
    text-align: center;
    border: thick solid rgb(188, 14, 124);
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    padding: 4ex;
    width: 90%;
    background-color: rgb(134, 130, 195);
    padding:20px;
  }

    /* Buton */
    button {
      display: block;
      width: 200px;
      margin: 20px auto;
      padding: 20px;
      background-color: #f5c518;
      color: #0c0c0c;
      font-size: 20px;
      border: none;
      cursor: pointer;
    }
    
    button:hover {
      border: thick solid rgb(188, 14, 124);
      background-color: #ffe75e;
    }
    
    footer {
      text-align: center;
      padding: 20px;
      border: thick solid rgb(188, 14, 124);
      background-color: rgb(134, 130, 195);
      font-size: 14px;
      font-weight: bold;
      width:90%;
      margin-left: auto;
      margin-right: auto;
    }
    